:root {
    --primary: #5916a0;
    --secondary: #2d0250;
    --message-sucesso: rgb(0, 255, 0);
    --message-erro: rgb(255, 0, 0);
    --confirm: rgb(253, 161, 1);
    --text: #fff;
    --shadow: 0px 0px 25px 5px rgba(0,0,0,0.5);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', sans-serif;
}

header {
    padding: 40px;
    background: var(--primary);
    color: var(--text);
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.container {
    display: flex;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    background-color: var(--primary);
}

.body {
    max-width: 500px;
}

.form {
    display: flex;
    flex-direction: column;
    width: 100%;
    width: 400px;
    height: 250px;
    position: relative;
    background: var(--secondary);
    padding: 10px;
    border-radius: 10px;
    box-shadow: var(--shadow);
    margin-bottom: 40px;
}

.form input {
    padding: 10px;
    margin: 8px 0 5px 0;
    border-radius: 10px;
    border: none;
}

.message {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%);
    transition: opacity 0.3s ease, visibility 0.3s ease;

    animation: sumirSuave 3s forwards;
}

.message-erro {
    color: var(--message-erro);
}
.message-erro::after {
    content: '';
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 100%;
    height: 2px;
    background: var(--message-erro);

    animation: cronometro 3s linear forwards;
    transform-origin: center;
}

.message-sucesso {
    color: var(--message-sucesso);
}

.message-sucesso::after {
    content: '';
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 100%;
    height: 2px;
    background: var(--message-sucesso);

    animation: cronometro 3s linear forwards;
    transform-origin: center;
}

@keyframes sumirSuave {
    0%, 80% {opacity: 1;}
    100% {opacity: 0; visibility: hidden;}
}

@keyframes cronometro {
    from {transform: scaleX(1);} 
    to {transform: scaleX(0);}
}

.btnForm {
    padding: 10px;
    margin: 40px 0 5px 0;
    border: none;
    border-radius: 10px;
    color: var(--text);
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 1.5px;
}

.cadastro {
    background: var(--message-sucesso);
    color: var(--secondary);
}

.salvar {
    background: var(--confirm);
}

.list {
    width: 80%;
    background: #fff;
    margin: 10px auto;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.list p {
    padding: 5px;
}

.list .btn {
    border: none;
    width: 50%;
    padding: 4px 8px;
    color: white;
    font-weight: 600;
    letter-spacing: 1.3px;
}

.editar {
    background: var(--confirm);
    border-radius: 0 0 0 10px;
}

.excluir {
    background: var(--message-erro);
    border-radius: 0 0 10px 0;
}